$inputButtonColor: linear-gradient(to bottom, rgba(130,200,160,1) 0%, rgba(124, 185, 149, 1) 100%);
$inputButtonActiveColor: #72B08E;
$deleteButtonColor:linear-gradient(rgba(250,90,90,1) 0%, rgba(232,81,81,1) 100%);
$deleteButtonActiveColor:#E35252;
