@mixin buttonStyle($background,$activeBackground){
  text-decoration: none;
  color: white;
  padding: 4px 16px;
  display: inline-block;
  position: relative;
  border: 1px solid rgba(0,0,0,0.21);
  border-bottom: 4px solid rgba(0,0,0,0.21);
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(0,0,0,0.15);
  background: $background;
  cursor: pointer;
  &:active{
      background: $activeBackground;
  }
}
@mixin checkBoxTick($top,$left,$height,$rotate){
  top: $top;
  left: $left;
  content: ' ';
  width: 5px;
  height: $height;
  background-color: #34b93d;
  display: inline-block;
  transform-origin: left top;
  border-radius: 5px;
  transform: rotate($rotate);
  position: absolute;
}
